* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightpink;
}

body, html {
    height: 100%;
}

.container {
    min-height: 100%;
}

h1 {
    margin-left: 20px;
}

h2 {
    margin-top: 20px;
}

.col {
    display: inline-block;
}

/* Navbar styling  */
.navbar {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-right: 20px;
    margin-left: auto;
    border-radius: 100%;
    border: none;
    padding: 20px;
    height: 60px;
    width: 60px;
    border: solid 2px gray;
}

.profile-button:hover {
    background-color: lightgray;
    cursor: pointer;
}

/* Login and signup styling */
.login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 350px;
    min-height: 300px;
    background-color: lightgray;
    border: none;
}

.email {
    margin: 20px;
}

.email-input {
    height: 20px;
}

.password {
    margin: 20px;
    margin-top: 0;
}

.password-input {
    height: 20px;
}

.submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.login-submit {
    width: 90px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px gray;
    padding: 5px;
    margin-bottom: 20px;
}

.login-submit:hover {
    background-color: rgb(184, 184, 184);
    cursor: pointer;
}

.signup-submit {
    width: 90px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px gray;
    padding: 5px;
    margin-bottom: 20px;
}

.signup-submit:hover {
    background-color: rgb(184, 184, 184);
    cursor: pointer;
}


/* Dashboard styling */
.content {
    position: relative;
    background-color: lightgrey;
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contacts {
    position: relative;
    height: 100%;
}

.users-container {
    position: relative;
    height: 100%;
    padding: 1rem 0;
    border-right: 1px solid gray;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.search {
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
    padding: .75rem 1rem;
}

/* user icons */
.person {
    position: relative;
    width: 100%;
    padding: 10px 1rem;
    cursor: pointer;
    border-bottom: 1px solid gray;
}

.person:hover {
    background-color: rgb(184, 184, 184);
}

.active {
    background-color: rgb(230, 230, 230);
    border-right: 1px solid gray;
}

.users {
    display: inline-block;
    position: relative;
    margin-right: 31px;
}

.person:last-child {
    border-bottom: 0;
}

.person img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

/* .person .status {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #e6ecf3;
    position: absolute;
    top: 0;
    right: 0;
} */

.chat-container {
    position: relative;
    height: 100vh;
    padding: 1rem;
}

.recipient {
    width: 100%;
    padding: 0 15px;
    min-height: 64px;
    line-height: 64px;
    border-bottom: 1px solid black;
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}

.recipient span {
    line-height: 100%;
}

.recipient .name {
    font-weight: 700;
}

.chat-text {
    position: fixed;
    bottom: 40px;
}

.chat-container li.chat-left {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-bottom: 40px;
}

.chat-container li img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.chat-container li .name-avatar {
    margin-right: 20px;
}

.chat-container li .chat-name {
    font-size: .75rem;
    color: black;
    text-align: center;
}

.chat-container li .chat-message {
    padding: .4rem 1rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ffffff;
    font-weight: 300;
    line-height: 150%;
    position: relative;
}

.chat-container li .chat-message:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 10px;
    left: -20px;
    border: 10px solid;
    border-color: transparent #ffffff transparent transparent;
}

@media (max-width: 767px) {
    .chat-container li.chat-left {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .chat-container li img {
        width: 32px;
        height: 32px;
    }
    .chat-container li.chat-left .name-avatar {
        margin: 0 0 5px 0;
        display: flex;
        align-items: center;
    }
    .chat-container li.chat-left .chat-name {
        margin-left: 5px;
    }
    .chat-container li .chat-text {
        font-size: .8rem;
    }
}

/* Profile styling */
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 350px;
    background-color: lightgray;
    border: none;
}

.pfp {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 140px;
    width: 140px;
    border: solid 2px gray;
}

.pfp:hover {
    cursor: pointer;
    background-color: lightgray;
}

.name {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.userId {
    font-size: 14px;
    font-weight: 600;
    margin: 20px;
}

.edit {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
}

.edit:hover {
    cursor: pointer;
    background-color: #424242;
}

.userInfo {
    margin: 20px;
    font-size: 15px;
    font-weight: 500
}
