/* Login and signup styling */
.login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 350px;
    background-color: lightgray;
    border: none;
}

.email {
    margin: 20px;
}

.email-input {
    height: 20px;
}

.password {
    margin: 20px;
    margin-top: 0;
}

.password-input {
    height: 20px;
}

.submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.login-submit {
    width: 90px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px gray;
    padding: 5px;
    margin-bottom: 20px;
}

.login-submit:hover {
    background-color: rgb(184, 184, 184);
    cursor: pointer;
}